<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">MY_SITE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{js/myjs.js}"></script>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
<!--    <h1 class="m-3 p-3">layout</h1>-->
    <th:block th:replace="fragments/header ::headerFragment"></th:block>
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="fragments/footer ::footerFragment"></th:block>
</body>
</html>

<!--
Layout은 fragment들이 조합된 html이다.
th:replace="fragment경로 :: fragment이름" 속성은 해당 영역을 fragment로 치환하겠다는 의미
layout:fragment="content"는 해당 layout을 사용하는 content의 내용을 불러오겠다는 의미
-->